
DATABASE_URL="postgres://b6ed27c747c5cea77da0688816c22989c9429be2afb0d828356a8e90454322c8:sk_JX_Z9BAHFsxHA9vEjG0ix@pooled.db.prisma.io:5432/postgres?sslmode=require"

JWT_SECRET = "dfsgedg56sdgre6y456tgd"

# Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_mailtrap_user
SMTP_PASS=your_mailtrap_pass
EMAIL_FROM=noreply@sitetracker.com